.carouselsPopup{

    .popup{
    position: fixed;
    top: 0;
    left: 25%;
    right: 25%;
    bottom: 0;
    background-color: rgba($color-3, $alpha: .9);
    box-shadow: 10px 10px 10px 1000px  rgba($color-3, $alpha: .9);
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .popup.open{
        animation: open 0.5s forwards;
    }
    
    .popup.close{
        animation: close 0.5s forwards;
    }

    @keyframes open {
        0%{
            transform: translate(-50%, -50%) scale(0);
        }   
    }
}


