.carouselJeux{
    
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .slide-active{
        opacity: 1;
        transition: 1s;
    }

    .slide{
        opacity: 0;
        transition: 1s ease;
    }

    .Arrows{
        color: $color-1;
        font-size: 5em;
        margin: 50px;
    }

    .carouselRightArrow{
        position: absolute;
        top: 55%;
        right: 0;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    .carouselLeftArrow{
        position: absolute;
        top: 55%;
        left: 0;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    .carouselRightArrow:hover{
        transform: scale(1.10);
    }

    .carouselLeftArrow:hover{
        transform: scale(1.10);
    }
}

.carouselFigure {
    width: 800px;
    padding: 50px;
    color: white;
    border: 1px solid $color-1;
    border-radius: 10px;
    background-color: $color-3;

    .carouselTitle {
        text-align: center;
        font-size: 2em;
        color: white;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: $color-1 solid 10px;
    }

    .carouselJeuxCover{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

}
