.myTopsMainMenu{

    position: inherit;

    .topMenuTitle{

        h1{
            margin: auto;
            width: 60%;
            margin-bottom: 25px;
            padding-bottom: 10px;
            text-align: center;
            color: $color-3;
            border-bottom: 5px solid $color-1
        }
    }

    .scrollTop{
        float: right;
        padding: 10px;
        margin: 35px;
        font-size: 3em;
        color: $color-1;
        bottom: 100px;
        background-color: $color-3;
        border-radius: 15px;
    }
    
    .scrollTop:hover{
        transform: scale(1.05);
        opacity: 0.8;
    }
    
    .topsSections{
        position: relative;
        width: 60%;
        margin: auto;
        padding: 10px;
        background-color: $color-3;
        border: 1px solid white;
        cursor: pointer;
        
        h1{
            color: $color-1;
            text-align: center;
        }
        
        .customArrow{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $color-1;
            display: block;
            height: 100%;
            width: 4rem;
        }
        
        .customArrow::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .customArrow::before{
            border-left: 1em solid transparent;
            border-right: 1em solid transparent;
            border-top: 1em solid $color-3;
            top: 50%;
        }

    }

    .topsSections:hover{
        opacity: 0.8;
        transform: scale(1.02);
    }
}

@media only screen and (min-width : 300px) and (max-width : 1030px)
{
    .myTopsMainMenu{

        .scrollTop{
            float: none;
            display: block;
            text-align: center;
            padding: 0;
        }
    }
}

@media only screen and (min-width : 480px) and (max-width : 680px)
{
    .topsSections{

        h1{
            font-size: 1em;
            padding-right: 35px;
        }
    }
}

@media only screen and (min-width : 300px) and (max-width : 480px)
{
    .topsSections{

        h1{
            font-size: 1em;
            padding-right: 65px;
        }
    }
}