.sectionAnime{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    border-top: 3px solid rgba(61, 71, 82, 0.9);

    h1{
        text-align: center;
        font-size: 2em;
        color: $color-1;
        margin-bottom: 15px;
        margin-top: 35px;
    }

    .topAnimeCover{
        width: 300px;
        height: 90%;
        object-fit: cover;
    }

}
@media only screen and (min-width : 300px) and (max-width : 640px)
{
    .sectionAnime{
        margin-bottom: 120px;
    }
}